h3,
div,
body {
    margin: 0;
    padding: 0;
}

.control {
    position: fixed;
    top: 0px;
    right: 0px;
    /*float: right;*/
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #dddddd;
}

.control div {
    margin: 10px;
}

.output {
    padding: 20px;
}

.out-info {
    margin-left: 4px;
    background-color: #FFDDCC;
    padding: 4px;
}

.source {}

.source img {
    height: 300px;
    border: 1px solid #aaa;
}

button {
    font-size: 16px;
    padding: 4px;
}

h3 {
    margin: 5px;
}

canvas {
    border: 1px solid #aaa;
}
